.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
fontes.bib
_posts/2021-09-11-f1-acidentes/scripts/temp/*
_posts/2021-11-30-raspando-a-biblioteca-de-decks-de-gwent/gwent_decks/*
_posts/2021-11-30-raspando-a-biblioteca-de-decks-de-gwent/gwent_listas/*
_posts/2022-01-08-quais-as-associacoes-existentes-entre-as-cartas-dos-decks-de-gwent/temporario_lista/*
_posts/2022-01-08-quais-as-associacoes-existentes-entre-as-cartas-dos-decks-de-gwent/temporario_deck/*
_posts/2022-01-08-quais-as-associacoes-existentes-entre-as-cartas-dos-decks-de-gwent/data/decks.rds
docs/posts/2022-01-08-quais-as-associacoes-existentes-entre-as-cartas-dos-decks-de-gwent/temporario_lista/*
docs/posts/2022-01-08-quais-as-associacoes-existentes-entre-as-cartas-dos-decks-de-gwent/temporario_deck/*
docs/posts/2022-01-08-quais-as-associacoes-existentes-entre-as-cartas-dos-decks-de-gwent/data/decks.rds
_posts/2022-12-31-identificando-as-cartas-de-gwent/data/*