.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
fontes.bib
_posts/2021-09-11-f1-acidentes/scripts/temp/*
_posts/2021-11-30-raspando-a-biblioteca-de-decks-de-gwent/gwent_decks/*
_posts/2021-11-30-raspando-a-biblioteca-de-decks-de-gwent/gwent_listas/*
_posts/2021-11-24-scrapper-da-calculadora-geografica/chromedriver